.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.pagination a,
.pagination span {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .current {
    background-color: #ff8c42;
    color: white;
    font-weight: bold;
    cursor: default;
}

.pagination .disabled {
    color: #aaa;
    cursor: not-allowed;
}

.search-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fef5f8;
        border: 2px solid #ffc0cb;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        max-width: 1650px;
        margin: 20px auto;
    }

.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    margin-left: 320px;
}

label {
    font-size: 20px;
    color: #d26d8e;
    font-weight: bold;
}

input[type="text"] {
        padding: 12px 18px;
        font-size: 16px;
        border: 2px solid #ffc0cb;
        border-radius: 8px;
        background-color: #fff;
        color: #333;
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
    }

input[type="text"]:focus {
        border-color: #f080a9;
        outline: none;
    }
    
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #f96a6a;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 */
    padding: 4px;
    padding-bottom: 1.4px;
    border-radius: 90%;
    cursor: pointer;
    transition: color 0.3s;
}

.heart-icon:hover {
    color: #ff4081; /* hover 시 색상 변화 */
}